{% if not sortOptions is empty %}
<div class="item-margin-bottom form-inline">
    <label labelfor="sort" class="mr-sm-2">Sort by</label>
    <select name="sort_1" class="form-control mr-sm-2">
        <option value=""></option>
        {% for value, text in sortOptions %}
        <option value="{{value}}" id="{{value}}">{{text}}</option>
        {% endfor %}
    </select>
    <select name="sort_2" class="form-control mr-sm-2">
        <option value=""></option>
        {% for value, text in sortOptions %}
        <option value="{{value}}" id="{{value}}">{{text}}</option>
        {% endfor %}
    </select>
    <select name="sort_3" class="form-control">
        <option value=""></option>
        {% for value, text in sortOptions %}
        <option value="{{value}}" id="{{value}}">{{text}}</option>
        {% endfor %}
    </select>
</div>
{% endif %}