{% extends 'page.html.twig' %}


{% block content %}
<div class="dashboard">
    <div class='card dash-card'>
        <header class='card-header'>
            <h4>Statuses</h4>
        </header>
        <div class='card-body grey-bg'>
            <ul class='dash-list'>
            <li class='bg-secondary text-white dash-list-heading'>
                <span class='dash-list-left dash-list-name'>Status</span>
                <span class='dash-list-right dash-list-count'>Items</span>
            </li>
            {% for status in data.status %}
            <li class='dash-list-item'>
                <span class='dash-list-left'>{{ status.statusName }}</span>
                <span class='dash-list-right'>{{ status.count }}</span>
            </li>
            {% endfor %}
            </ul>
            <div class='data-display'>
                <div id='open-closed-graph' class='chart-container'></div>
                <p id='open-closed-legend' class='flex-column'></p>
            </div>
        </div>
        <footer class='card-footer'>
            <a href='DisplayStatuses.php' class='btn btn-lg btn-outline btn-a'>{{ data.status | length }}</a>
        </footer>
    </div>
    <div class='card dash-card'>
        <header class='card-header'>
            <h4>Severities</h4>
        </header>
        <div class='card-body grey-bg'>
            <ul class='dash-list'>
                <li class='bg-secondary text-white dash-list-heading'>
                    <span class='dash-list-left dash-list-name'>Severity</span>
                    <span class='dash-list-right dash-list-count'>Open Items</span>
                </li>
                {% for severity in data.severity %}
                <li class='dash-list-item'>
                    <span class='dash-list-left'>{{ severity.severityName }}</span>
                    <span class='dash-list-right'>{{ severity.count }}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="data-display">
                <div id="severity-graph" class="chart-container"></div>
                <p id="open-closed-legend" class="legend"></p>
            </div>
        </div>
        <footer class='card-footer'>
            <a href='DisplaySeverities.php' class='btn btn-lg btn-outline btn-a'>{{ data.severity | length }}</a>
        </footer>
    </div>
    <div class='card dash-card'>
        <header class='card-header'>
            <h4>Systems</h4>
        </header>
        <div class='card-body grey-bg'>
            <ul class='dash-list'>
                <li class='bg-secondary text-white row ml-0 mr-0'>
                    <span class='col-sm-5'>System</span>
                    <span class='col-sm-3 text-right'>Actions</span>
                    <span class='col-sm-4'>Lead</span>
                </li>
                {% for system in data.system %}
                <li class='row ml-0 mr-0 thin-grey-separator'>
                    <span class='col-sm-5'>{{ system.systemName }}</span>
                    <span class='col-sm-3 text-right'>{{ system.count }}</span>
                    <span class='col-sm-4'>{{ system.lead }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <footer class='card-footer'>
          <a href='DisplaySystems.php' class='btn btn-lg btn-outline btn-a'>{{ data.system | length }}</a>
        </footer>
    </div>
    <div class='card dash-card'>
        <header class='card-header'>
            <h4>Locations</h4>
        </header>
        <div class='card-body grey-bg'>
            <ul class='dash-list'>
                <li class='bg-secondary text-white dash-list-heading'>
                    <span class='dash-list-left dash-list-name'>Location</span>
                    <span class='dash-list-right dash-list-count'>Open Items</span>
                </li>
                {% for location in data.location %}
                <li class='dash-list-item'>
                    <span class='dash-list-left'>{{ location.locationName }}</span>
                    <span class='dash-list-right'>{{ location.count }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <footer class='card-footer'>
            <a href='DisplayLocations.php' class='btn btn-lg btn-outline btn-a'>{{ data.location | length }}</a>
        </footer>
    </div>
    {% include 'weekly-report.html.twig' %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  </body>
<script src='https://d3js.org/d3.v5.js'></script>
<script src='js/pie_chart.js'></script>
<script>
    window.drawOpenCloseChart(window.d3, 175, 604)
    window.drawSeverityChart(window.d3, {{ data.totalBlocker }}, {{ data.totalCrit }}, {{ data.totalMajor }}, {{ data.totalMinor }})
</script>
{% endblock %}