{% extends 'page.html.twig' %}

{% block pageHeader %}
<header class='container page-header'>
    <h1 class='page-title {# TODO: set heading color per status #}'>{{ pageHeading }}{{ data.ID }}</h1>
    <h1>{{ data.closureRequested or '' }}</h1>
</header>
{% endblock %}

{% block content %}
<h5 class='grey-bg pad'>Required Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Safety Certifiable</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.safetyCert }}</p></div>
    <div class='col-md-3'><p>System Affected</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.systemAffected }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>General Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.location }}</p></div>
    <div class='col-md-3'><p>Specific Location</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.specLoc }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Status</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.status }}</p></div>
    <div class='col-md-3'><p>Severity</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.severity }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Due Date</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.dueDate }}</p></div>
    <div class='col-md-3'><p>Group to resolve</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.groupToResolve }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Resolution required by</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.requiredBy }}</p></div>
    <div class='col-md-3'><p>Contract</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.contract }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Identified By</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.identifiedBy }}</p></div>
    <div class='col-md-3'><p>Deficiency type</p></div>
    <div class='col-md-3'><p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.defType }}</p></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Deficiency description</p>
        <p class='mb-0 full-width pad-less thin-grey-border border-radius fake-input'>{{ data.description }}</p>
    </div>
</div>
<h5 class='grey-bg pad'>Optional Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Spec or Code</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.spec }}</span></div>
    <div class='col-md-2'><p>Action Owner</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.actionOwner }}</span></div>
    <div class='col-md-2'><p>Old Id</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.oldID }}</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>More information</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.comments }}</span>
    </div>
</div>
<h5 class='grey-bg pad'>Closure Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-2'><p>Evidence Type</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.evidenceType }}</span></div>
    <div class='col-md-2'><p>Evidence Repository</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.repo }}</span></div>
    <div class='col-md-2'><p>Repository No.</p></div>
    <div class='col-md-2'><span class='d-block full-width pad-less thin-grey-border border-radius'>{{ data.evidenceLink }}</span></div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Closure comments</p>
        <span class='d-block full-width pad-less thin-grey-border border-radius grey-bg fake-input'>{{ data.closureComments }}</span>
    </div>
</div>
{# TODO: conditionally show comments area #}
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#comments' role='button' aria-expanded='' aria-controls='comments' class='collapsed'>Comments<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='comments' class='collapse'>
    {# TODO: iterate over comments #}
    <div class='thin-grey-border pad mb-3'>
        <h6 class='d-flex flex-row justify-content-between text-secondary'><span>Comment author</span><span>comment timestamp</span></h6>
        <p>comment text</p>
    </div>
</section>
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#modHistory' role='button' aria-expanded='' aria-controls='modHistory' class='collapsed'>Modification History<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='modHistory' class='collapse'>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Date Created</p></div><div class='col-md-3'><p>{{ data.dateCreated | date("m-d-Y") }}</p></div>
        <div class='col-md-3'><p>Created by</p></div><div class='col-md-3'><p>{{ data.created_by }}</p></div>
    </div>
    <div class='row item-margin-bottom'>
        <div class='col-md-3'><p>Last Updated</p></div><div class='col-md-3'><p>{{ data.lastUpdated | date("n-j-Y G:i")}}</p></div>
        <div class='col-md-3'><p>Updated by</p></div><div class='col-md-3'><p>{{ data.updated_by }}</p></div>
    </div>
</section>
{# TODO: conditionally show photos area #}
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#defPics' role='button' aria-expanded='' aria-controls='defPics' class='collapsed'>Photos<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='defPics' class='collapse item-margin-bottom'>
    {# TODO: iterate over photos #}
    <div class='row item-margin-bottom'>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526425153.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492145.jpg' alt='photo related to deficiency number 1'></div>
        <div class='col-md-4'><img src='/img_uploads/ckingb_0000000001_1526492929.jpg' alt='photo related to deficiency number 1'></div>
    </div>
</section>
{# TODO: show buttons only for role > 10 #}
<div class='row item-margin-botom'>
    <div class='col-12 center-content'>
        <a href='updateDef.php?defID=1' class='btn btn-primary btn-lg'>Update</a>
        <a href='cloneDef.php?defID=1' class='btn btn-primary btn-lg'>Clone</a>
    </div>
</div>
{% endblock %}