{% extends 'page.html.twig' %}

{% macro input_like(datum) %}
    {% set extraClasses = datum ? '' : 'full-width grey-bg ' %}
    <p class="{{ extraClasses }}mb-0 full-width pad-less thin-grey-border border-radius fake-input">{{ datum | raw }}</p>
{% endmacro %}

{% import _self as page %}

{% block pageHeader %}
{% set color = (data.status | lower) is same as('closed') ? ' bg-green' : ' bg-red' %}
<header class='container page-header'>
    <h1 class='page-title text-white{{ color }}'>{{ pageHeading }}</h1>
    <h2>{{ data.closureRequested or '' }}</h2>
</header>
{% endblock %}

{% block content %}
<h5 class='grey-bg pad'>Required Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Safety Certifiable</p></div>
    <div class='col-md-3'>{{ page.input_like(data.safetyCert) }}</div>
    <div class='col-md-3'><p>System Affected</p></div>
    <div class='col-md-3'>{{ page.input_like(data.systemAffected) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>General Location</p></div>
    <div class='col-md-3'>{{ page.input_like(data.location) }}</div>
    <div class='col-md-3'><p>Specific Location</p></div>
    <div class='col-md-3'>{{ page.input_like(data.specLoc) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Status</p></div>
    <div class='col-md-3'>{{ page.input_like(data.status) }}</div>
    <div class='col-md-3'><p>Severity</p></div>
    <div class='col-md-3'>{{ page.input_like(data.severity) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Due Date</p></div>
    <div class='col-md-3'>{{ page.input_like(data.dueDate) }}</div>
    <div class='col-md-3'><p>Group to resolve</p></div>
    <div class='col-md-3'>{{ page.input_like(data.groupToResolve) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Resolution required prior to</p></div>
    <div class='col-md-3'>{{ page.input_like(data.requiredBy) }}</div>
    <div class='col-md-3'><p>Contract</p></div>
    <div class='col-md-3'>{{ page.input_like(data.contractID) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Identified By</p></div>
    <div class='col-md-3'>{{ page.input_like(data.identifiedBy) }}</div>
    <div class='col-md-3'><p>Deficiency type</p></div>
    <div class='col-md-3'>{{ page.input_like(data.defType) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-6 offset-md-3'>
        <p>Deficiency description</p>
        {{ page.input_like(data.description) }}
    </div>
</div>
<h5 class='grey-bg pad'>Optional Information</h5>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Spec or Code</p></div>
    <div class='col-md-3'>{{ page.input_like(data.spec) }}</div>
    <div class='col-md-3'><p>Action Owner</p></div>
    <div class='col-md-3'>{{ page.input_like(data.actionOwner) }}</div>
</div>
<div class='row item-margin-bottom'>
    <div class='col-md-3'><p>Old Id</p></div>
    <div class='col-md-3'>{{ page.input_like(data.oldID) }}</div>
    <div class='col-md-3'><p>BART ID</p></div>
    <div class='col-md-3'>{{ page.input_like(data.bartDefID) }}</div>
</div>
{% include 'includes/closureInfo.html.twig' %}
{% if not data.comments is empty %}
    {% include 'includes/comments.html.twig' %}
{% endif %}
{% include 'includes/modHistory.html.twig' %}
{% if not data.photos is empty %}
<h5 class='grey-bg pad'>
    <a data-toggle='collapse' href='#defPics' role='button' aria-expanded='' aria-controls='defPics' class='collapsed'>Photos<i class='typcn typcn-arrow-sorted-down'></i></a>
</h5>
<section id='defPics' class='collapse item-margin-bottom'>
    {% for row in data.photos %}
    <div class='row item-margin-bottom'>
        {% for photo in row %}
        <div class='col-md-4 text-center'><img src='{{ photo.filepath | raw }}' alt='photo related to deficiency number {{ data.id }}'></div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
{% endif %}
{% if session.role > 10 %}
<div class='row item-margin-botom'>
    <div class='col-12 center-content'>
        <a href='updateDef.php?id={{ data.id }}' class='btn btn-primary btn-lg'>Update</a>
        <a href='newDef.php?id={{ data.id }}' class='btn btn-primary btn-lg'>Clone</a>
    </div>
</div>
{% endif %}
{% endblock %}