{% extends "page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-select.css" />
{% endblock %}

{% block content %}
    {% if session.bdPermit %}
        {% set selected, unselected = " btn-light border-dark-blue box-shadow-blue ", " btn-secondary text-white " %}
    {% if view is same as('BART') %}
        {% set projectClasslist, bartClasslist = unselected, selected %}
    {% else %}
        {% set projectClasslist, bartClasslist = selected, unselected %}
    {% endif %}
    <div class="row item-margin-bottom">
        <div class="col-12 d-flex">
            <a href="defs.php" class="btn{{- projectClasslist -}} flex-grow item-margin-right text-wrap">Project deficiencies</a>
            <a href="defs.php?view=BART" class="btn{{- bartClasslist -}} flex-grow item-margin-right text-wrap">BART deficiencies</a>
        </div>
    </div>
    {% endif %}
    {% include "infobox.html.twig" %}
    {% include view is same as('BART') ? "bartDefsFilter.html.twig" : "defsFilter.html.twig" %}
{% endblock %}

{% block fullWidthContent %}
    <section class="container-fluid">
    {% include "table.html.twig" %}
    </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="/assets/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.js"></script>
    <script src="js/{{resetScript.file | default('reset_search.js')}}"></script>
    <script src="js/{{submitScript.file | default('unname_empty_form_controls.js')}}"></script>
    <script src="js/dedupe_selection.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="js/pie_chart.1569442076436.js"></script>
    <script type="text/javascript" src="js/get_csv.1584593710566.js"></script>
    <script>
        document.forms.filterForm.addEventListener('submit', {{submitScript.function | default("unnameEmptyFormControls") | raw}})
        document.getElementById('reset-btn').addEventListener('click', ev => {
            {{resetScript.function | default("resetSearch") | raw}}(ev)
        })
        document.querySelectorAll('select[name^="sort_"]').forEach((select, i, collection) => {
            dedupeSelection(select, collection, {{sortOptions | json_encode() | raw}})
            select.addEventListener('change', ev => {
                dedupeSelection(ev.target, collection, {{sortOptions | json_encode() | raw}})
            })
        })
        document.getElementById('getCsvBtn').addEventListener('click', getCsv)
        function getQueryValue(key) {
            if (!window.location.search) return false
            const qs = qsToObj()
            if (key in qs) return qs[key]
            return false
        }
        function qsToObj() {
            if (!window.location.search) return false
            return window.location.search
                .slice(1)
                .split('&')
                .reduce((o, prop) => {
                    const [ key, val ] = prop.split('=')
                    o[key] = val
                    return o
                }, {})
        }
    {% if view is same as('BART') %}
        const openCloseChart = new PieChart(
                window.d3,
                'dataContainer',
                {{ statusData | json_encode | raw }},
                { red: '#3CBE79', yellow: '#ffeda0', green: '#BD0026' }
            );
        openCloseChart.draw();
    {% endif %}
    </script>
{% endblock %}
