{% extends "page.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-select.css" />
{% endblock %}

{% block content %}
    {% if bartDefs %}
    {% set selected, unselected = " btn-light border-dark-blue box-shadow-blue ", " btn-secondary text-white " %}
    {% if view is same as('BART') %}
        {% set projectClasslist, bartClasslist = unselected, selected %}
    {% else %}
        {% set projectClasslist, bartClasslist = selected, unselected %}
    {% endif %}
    <div class="row item-margin-bottom">
        <div class="col-12 d-flex">
            <a href="defs.php" class="btn{{- projectClasslist -}} flex-grow item-margin-right text-wrap">Project deficiencies</a>
            <a href="defs.php?view=BART" class="btn{{- bartClasslist -}} flex-grow item-margin-right text-wrap">BART deficiencies</a>
        </div>
    </div>
    {% endif %}
    {% include "infobox.html.twig" %}
    {% include view is same as('BART') ? "bartDefsFilter.html.twig" : "defsFilter.html.twig" %}
    {% include "table.html.twig" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/assets/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.js"></script>
    <script src='js/reset_search.js'></script>
    <script src='https://d3js.org/d3.v5.js'></script>
    <script src='js/pie_chart.js'></script>
    <script>
        document.getElementById('getCsvBtn').addEventListener('click', event => {
            const json = JSON.stringify({{ dataWithHeadings | json_encode | raw }})
            fetch('/api/def.php', {
                method: 'POST',
                body: json,
                credentials: 'same-origin',
                headers: {
                    'Content-type': 'application/json',
                    'Accept': 'text/csv'
                }
            }).then(res => {
                if (!res.ok) throw res
                return res.text()
            }).then(text => {
                const d = new Date()
                const timestamp = d.getFullYear()
                    + '' + (d.getMonth() + 1)
                    + '' + d.getDate()
                    + '' + d.getHours()
                    + '' + d.getMinutes()
                    + '' + d.getSeconds()
                download(text, `defs_summary_${timestamp}.csv`, 'text/csv')
            }).catch(err => {
                if (err.status) console.err(`${err.status} ${res.statusText} ${res.url}`)
                else console.err(err)
            })
        })
    {% if view is same as('BART') %}
        const openCloseChart = new PieChart(
                window.d3,
                'dataContainer',
                { open: '{{ statusData.statusOpen }}', closed: '{{ statusData.statusClosed }}' },
                { red: 'var(--red)', green: 'var(--green)' }
            );
        openCloseChart.draw();
    {% endif %}
    </script>
{% endblock %}
