{# @params =
## formAction = @string,
## resetScript = @string js-function
## collapsed => @bool
#}

{# @blocks =
## filterFields
#}

{% if collapse is empty %}
    {% set show, collapsed, ariaExpanded = ' show', '', 'true' %}
{% else %}
    {% set show, collapsed, ariaExpanded = '', 'collapsed', 'false' %}
{% endif %}

<div class="item-margin-bottom">
    <form id="filterForm" method="GET" action="{{formAction}}" class="col-12">
        <h5>
            <a data-toggle="collapse" href="#filterDefs" role="button" aria-expanded="{{ariaExpanded}}" aria-controls="filterDefs" class="{{collapsed}}">
                Filter deficiencies
                <i class="typcn typcn-arrow-sorted-down"></i>
            </a>
        </h5>
        <div id="filterDefs" class="collapse{{show}} item-margin-bottom">
            {% block filterFields %}{% endblock %}
        </div>
        {% include "includes/sortControls.html.twig" %}
        <div id="container_buttons_submit-reset" class="">
            <button type="submit" class="btn btn-primary item-margin-right">{{formBtnText | default('Search')}}</button>
            <button type="button" class="btn btn-primary item-margin-right" id="reset">Reset</button>
        </div>
    </form>
</div>