{% set loggedIn = not navbarHeading is empty or not session is empty %}

{% if loggedIn %}
    {% if not session is empty and not session.firstname is empty and not session.lastname is empty %}
        {% set username = session.firstname ~ ' ' ~ session.lastname %}
    {% elseif not session is empty and not session.username is empty %}
        {% set username = session.username %}
    {% elseif not navbarHeading is empty%}
        {% set username = navbarHeading %}
    {% else %}
        {% set username = '[    ]' %}
    {% endif %}
    {% set navHeadingText, navHeadingLink = username, '/userAccount.php' %}
{% else %}
    {% set navHeadingText, navHeadingLink = 'Login now', '/login.php' %}
{% endif %}

{% set defaultNavItems = loggedIn
    ? {
        'Home': '/dashboard.php',
        'Help': '/help.php',
        'Deficiencies': session.bdPermit
            ? { 'Project deficiencies': '/defs.php', 'BART deficiencies': '/defs.php?view=BART' } : '/defs.php',
        'Safety Certs': '/ViewSC.php',
        'Logout': '/logout.php'
      }
    : {
        'Home': '/dashboard.php',
        'Help': '/help.php'
      }
%}
{% if not navItems is iterable and navItems is empty %}
    {% set navItems = defaultNavItems %}
{% endif %}

<nav class="navbar navbar-expand-md navbar-dark navbar-vta-blue">
    <span class="navbar-brand navbar-heading">
        <a href='{{ navHeadingLink }}' class='navbar-link navbar-brand-link'>{{ navHeadingText }}</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseMenu" aria-controls="navbarCollapseMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapseMenu">
        <ul class="navbar-nav mr-auto">
        {% for item, link in navItems %}
            {# For now, Deficiencies is the only possible dropdown nav menu #}
            {% if link is iterable %}
            <li class="nav-item dropdown" role="menu">
                <a class="nav-link dropdown-toggle" href="#" id="defsDropdown" role="button" data-toggle="dropdown" aria-expanded="false">{{ item }}</a>
                <div class="dropdown-menu" aria-labelledby="defsDropdown">
                {% for name, href in link %}
                    <a href="{{ href }}" class="dropdown-item" role="menu-item">{{ name }}</a>
                {% endfor %}
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ link }}">{{ item }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>

</nav>