{% import "template_fcns/tables.xml.twig" as tables %}

{% block content %}
    <pre>{{ dump(meta) }}</pre>
    {% block table %}
        {{ tables.createTable(data, tableHeadings) }}
    {% endblock %}

    {% set btnClasslist = not data is empty
        ? "btn btn-lg btn-success"
        : "btn btn-lg disabled"
    %}
    {% set disable = data is empty ? "disabled" : "" %}
    <div class="text-right">
        <button id="getCsvBtn" type="button" class="{{ btnClasslist }}" {{ disable }}>Download this data</button>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/downloadjs@1.4.7/download.js"></script>
<script type="text/javascript" src="./js/get_csv.js"></script>
<script type="text/javascript">
    document.getElementById('getCsvBtn').addEventListener('click', event => {
        const jsonData = {{ dataWithHeadings | json_encode | raw }}
        getCsv(event, jsonData, res => {
            download(res, `def_dump_${Date.now()}.csv`, 'text/csv')
        })
    })
</script>
{% endblock %}