{# 'data' => [
##      [
##          'system' => (string),
##          'openLastWeek' => (int),
##          'openThisWeek' => (int),
##      ]
##  ]
#}

{% set toLabel = data.selected.to %}
{% set fromLabel = data.selected.from %}
{% set deltaLabel = "Delta" %}
<div id="deltaReport" class="row item-margin-bottom">
    <div class="col-sm-10 offset-sm-1">
        <form id="delta-picker" method="GET" action="#deltaReport">
            <label for="field">Open Deficiencies by</label>
            <select id="field" name="field">
                <option></option>
                {% for field in ['severity', 'system'] %}
                {% set selected = data.selected.field == field ? ' selected' : '' %}
                <option value="{{ field }}"{{ selected }}>{{ field | capitalize }}</option>
                {% endfor %}
            </select>
            <label for="from-date">From</label>
            <input id="from-date" name="from" type="date" value="{{ data.selected.from }}">
            <label for="to-date">To</label>
            <input id="to-date" name="to" type="date" value="{{ data.selected.to }}">
            <label for="milestone">Required prior to</label>
            <select id="milestone" name="milestone">
                <option></option>
                {% for milestone in data.milestones %}
                {% set selected = data.selected.milestone == milestone ? ' selected' : '' %}
                <option value="{{ milestone.id }}"{{ selected }}>{{ milestone.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
        <div class="thin-grey-border border-radius">
            <header class="d-flex justify-content-between pad grey-bg item-margin-bottom">
                <span>Deficiencies by {{ data.selected.field | default('__') }}
                from {{ data.selected.from | default('__') }}
                to {{ data.selected.to | default('__') }}
                {% if data.selected.milestone %}required prior to {{ data.selected.milestone }}{% endif %}
                </span>
                <button id='downloadReport' type='button' onclick='return downloadReport()' class="btn btn-sm btn-success">Download this data</button>
            </header>
            <div class="row thick-black-line ml-0 mr-0 mb-1 weekly-report__list-heading">
                <div class="col-sm-3">{{ data.selected.field | capitalize }}</div>
                <div class="col-sm-3 text-right">{{ data.selected.from }}</div>
                <div class="col-sm-3 text-right">{{ data.selected.to }}</div>
                <div class="col-sm-3 text-right">{{ deltaLabel }}</div>
            </div>
            {% for row in data.deltaReport %}
            <div class="row thin-grey-separator ml-0 mr-0">
                <div class="col-sm-3">
                    <div class="weekly-report__system-name">{{ row.fieldName }}</div>
                </div>
                <div class="col-sm-3 text-right">
                    <div><span class="weekly-report__label">{{ fromLabel }}</span>{{ row.fromDate }}</div>
                </div>
                <div class="col-sm-3 text-right">
                    <div><span class="weekly-report__label">{{ toLabel }}</span>{{ row.toDate }}</div>
                </div>
                <div class="col-sm-3 text-right">
                    <div><span class="weekly-report__label">{{ deltaLabel }}</span>{{ row.fromDate - row.toDate }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>